.hero {
  background: linear-gradient(-225deg, #F26123 0%, #FFE040 50.52%, #8DC63F 100%);
  height: 800px;
  &__inner {
    background-image: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center right;
    background-size: contain;
  }
}
