<footer class="footer">
  <div class="container">
    <div class="row align-items-center footer__top">
      <div class="col-12 order-1 order-md-0 col-md-4 col-lg-4">
        <div class="social">
          <ul class="social__list">
            <li class="social__item">
              <a href="" class="social__link" targer="_blank">
                <svg width="48" height="48">
                  <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link" targer="_blank">
                <svg width="48" height="48">
                  <use xlink:href="assets/img/sprite.svg#icon-tlg"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link" targer="_blank">
                <svg width="48" height="48">
                  <use xlink:href="assets/img/sprite.svg#icon-ya"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link" targer="_blank">
                <svg width="48" height="48">
                  <use xlink:href="assets/img/sprite.svg#icon-ok"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <a href="tel:88001007007" class="header__phone footer__phone">
          <svg width="20" height="20">
            <use xlink:href="assets/img/sprite.svg#icon-phone"></use>
          </svg>
          <span>8 800 1 007 007</span>
        </a>
      </div>
      <div class="col-6 col-md-4 col-lg-5">
        <div class="footer__feedback">
          <p>Есть вопросы и предложения?</p>
          <button class="btn-reset footer__btn">Напишите нам</button>
        </div>
      </div>
      <div class="col-12  order-2 order-md-0">
        <hr class="footer__hr">
      </div>
    </div>
    <div class="row footer__nav">
      <div class="col-sm-6 col-md-4">
        <p class="footer__caption">Онлайн-страхование</p>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="" class="footer__link">Страхование спортсменов</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Страхование от несчастных случаев</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Демократичное КАСКО</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Практичное КАСКО</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Крепкий тыл</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Гелиос-Электрик</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <ul class="footer__list">
          <li class="footer__list-item"><a href="" class="footer__link">Уведомить о страховом случае</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Активировать полис</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Проверить полис</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Корректировка КБМ</a></li>
          <li class="footer__list-item  mb-4"><a href="" class="footer__link">Задать вопрос</a></li>

          <li class="footer__list-item"><a href="" class="footer__link">Корпоративным клиентам</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Партнёрам</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="footer__list">
          <li class="footer__list-item"><a href="" class="footer__link">О компании</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Виды страхования</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Правила страхования и тарифы</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Документы</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Пресс-центр</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Вакансии</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Контакты</a></li>
          <li class="footer__list-item"><a href="" class="footer__link">Информация для получателей фин. услуг</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__bottom-list">
          <p class="footer__bottom-item">Дата изменения 01.06.2023 12:00:00</p>
          <a href="" class="footer__bottom-item">Информация для получателей страховых услуг</a>
          <a href="" class="footer__bottom-item">Пользовательское соглашение</a>
          <a href="" class="footer__bottom-item">Карта сайта</a>
          <a href="" class="header__phone footer__visualy">
            <svg width="24" height="20">
              <use xlink:href="assets/img/sprite.svg#icon-glass"></use>
            </svg>
            <span>Версия для слабовидящих</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <p class="footer__copyright">©2023. ООО Страховая Компания «Гелиос»</p>
      </div>
      <div class="col-xl-8">
        <p class="footer__copyright text-xl-right">Лицензии Банка России СЛ №0397, ОС №0397-03, СИ №0397, ПС №0397, выданы 10.11.2021, без ограничения срока действия.</p>
      </div>
    </div>
  </div>
</footer>
