<div class="pagination">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="pagination__list">
          <li class="pagination__item pagination__link_page pagination__link_first"><a href="" class="pagination__link">
            <svg width="7" height="14">
              <use xlink:href="assets/img/sprite.svg#icon-slider-arrow-left"></use>
            </svg>
          </a></li>
          <li class="pagination__item"><a href="" class="pagination__link pagination__link_active">1</a></li>
          <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
          <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
          <li class="pagination__item"><a href="" class="pagination__link pagination__link_inter">...</a></li>
          <li class="pagination__item"><a href="" class="pagination__link">14</a></li>
          <li class="pagination__item"><a href="" class="pagination__link pagination__link_page pagination__link_last">
            <svg width="7" height="14">
              <use xlink:href="assets/img/sprite.svg#icon-slider-arrow-right"></use>
            </svg>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
